<ion-content>
  <div class="landing-bgImage">
    <img src="assets/Images/Forgot_password_image.svg" alt="landing_background_image">
  </div>

  <div class="input-container">

    <div class="header">
      <h3>Forgot Password</h3>
      <ion-label>Don't worry, please enter your mail</ion-label>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="processResetPassword()">
      <div class="input-field">
        <ion-label for="email">Email</ion-label>
        <ion-input id="email" type="email" formControlName="email"></ion-input>
      </div>

      <ion-label class="resend">Resend OTP</ion-label>

      <div class="login-btn-container">
        <ion-button class="signup-btn" expand="block" type="submit" [disabled]="forgotPasswordForm.invalid">Send OTP</ion-button>
      </div>
    </form>
  </div>
</ion-content>
