$primary-font-color: #6C63FF;
$secondary-font-color: #6E6E6E;


ion-content {

    --padding-start: 30px;
    --padding-top: 40px;
    --padding-end: 30px;
    --padding-bottom: 20px;

    .landing-bgImage {

        padding-top: 30px;
        margin: auto;

    }

    .input-container {

        padding-top: 20px;

        .header {

            h3 {

                font-size: 20px;
                font-family: 'Poppins';
                font-weight: 600;

            }

            ion-label {

                font-family: 'Poppins';
                font-size: 14px;
                font-weight: 500;
                color: #939393;
                
            }
        }

        form {

            margin-top: 20px;

        }

        .input-field {

            padding-bottom: 20px;

            ion-input {

                font-family: 'Poppins';
                margin-top: 5px;
                --background: #F2F2F2;
                --padding-start: 10px;
                --border-radius: 6px;

            }

        }

        .resend {
            font-family: 'Poppins';
            font-size: 16px;
            float: right;
            color: $primary-font-color;
        }

        ion-button {

            font-family: 'Poppins';
            text-transform: capitalize;
            font-size: 14px;
            padding-top: 40px;
            --background: #6C63FF;

        }
    }
}