$primary-font-color: #6C63FF;
$secondary-font-color: #6E6E6E;

ion-content {

    --padding-start: 30px;
    --padding-top: 20px;
    --padding-end: 30px;
    --padding-bottom: 20px;

    .title-text {

        h2 {

            font-size: 23px;
            font-family: 'Poppins';
            font-weight: 700;
            color: $primary-font-color;

        }

        ion-label {

            font-size: 12px;
            color: $secondary-font-color;
            font-family: 'Poppins';
            font-weight: 500;

        }
    }

    .landing-bgImage {

        padding-top: 20px;
        margin: auto;

    }

    .input-container {

        ion-label {

            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 500;

        }

        .input-field {

            .phone-input {

                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-bottom: 8%;

                ion-select {

                    width: 23%;
                    background: #F2F2F2;
                    border-radius: 6px;
                    color: #1f1f1f;

                }

                ion-select-option {
                    --width: 100px;
                }

                ion-select::part(icon) {

                    width: 20px;
                    height: 18px;
                    padding-right: 10px;
                    color: #1f1f1f;
                    --highlight-color-focused: none;
    
                }

                ion-input {
                    
                    width: 75%;
                    margin-top: 5px;
                    --background: #F2F2F2;
                    color: #1f1f1f;
                    --padding-start: 10px;
                    --border-radius: 6px;
                    --highlight-color-focused: none;
                    
                }
            }

        }

        .resend {

            ion-label {
    
                float: right;
                color: $primary-font-color;
                font-size: 14px;
                font-weight: 400;
            }
        }
    
        .login-btn-container {
    
            ion-button {
    
                padding-top: 30px;
                --background: #6C63FF;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
                --box-shadow: none;
    
            }
        }
    }

    
}