<ion-content>
  <div class="title-text">
    <h2>Create new password</h2>
    <ion-label>Your new password must be unique from previous password</ion-label>
  </div>

  <div class="input-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">

      <div class="input-field">

        <ion-label>New Password</ion-label>
        <ion-input type="password"type="{{ showPassword ? 'text' : 'password' }}" formControlName="password">
          <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-input>
        
      </div>
      
      <div class="input-field">

        <ion-label>Confirm Password</ion-label>
        <ion-input type="password" type="{{ showConfirmPassword ? 'text' : 'password' }}" formControlName="confirmpassword">
          <ion-icon name="{{ showConfirmPassword ? 'eye-off' : 'eye' }}" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
        </ion-input>
        
      </div>

      <div class="login-btn-container">
        <ion-button class="signup-btn" expand="block" (click)="processResetPassword()" [disabled]="resetPasswordForm.invalid" type="submit">Login</ion-button>
      </div>

    </form>
  </div>
</ion-content>
