$primary-font-color: #6C63FF;
$secondary-font-color: #6E6E6E;

ion-content {

    --padding-start: 30px;
    --padding-top: 20px;
    --padding-end: 30px;
    --padding-bottom: 20px;

    .title-text {

        h2 {

            font-size: 23px;
            font-family: 'Poppins';
            font-weight: 700;
            color: $primary-font-color;

        }

        ion-label {

            font-family: 'Poppins';
            font-size: 12px;
            color: $secondary-font-color;
            font-family: 'Poppins';
            font-weight: 500;

        }
    }

    .landing-bgImage {

        padding-top: 20px;
        margin: auto;

    }

    .input-container {

        margin-top: 20%;

        ion-label {

            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 500;

        }
        

        .otp-field {

            margin: 30px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            

            
        }

        .resend {
            font-family: 'Poppins';
            font-size: 14px;
            float: right;
            color: $primary-font-color;
        }

        

        ion-button {

            font-family: 'Poppins';
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 500;
            padding-top: 40px;
            --background: #6C63FF;
            --box-shadow: none;


        }
    }

    
}